@{
    ViewBag.Title = "CloudClass";
}

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            if ('@ViewBag.isTeacher' == 'True')
            {
                $("#manage").css({"display": "none"});
            }
        })
    </script>
}

<h2>Courses:</h2>
<a class="btn" id="manage" href="@Url.Action("CourseManager", "Home")" ">Manage Course</a>
<br />
<br />
<div>
    <table class="table">
        <tr>
            <th>File Name</th>
            <th>Download</th>
            <th>Owner</th>
            <th>Last Modified</th>
        </tr>
        @foreach (Orchestration.BlobFileresult blob in ViewBag.courseBlobs)
        {
            <tr>
                <td>@blob.FileName</td>
                <td><a href="@Html.Raw(blob.AbsoluteUri)">Download File</a></td>
                <td>@blob.Owner</td>
                <td>@blob.LastModified</td>
            </tr>
        }
    </table>

</div>